$button-background: #666;

.keypad {
    display: inline-grid;
    grid-gap: .5rem;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    transition: opacity  0.2s ease;

    &[hidden] {
        opacity: 0;
    }


    &__btn {
        background-color: $button-background;
        padding: 0;
        border-radius: 100%;
        border: 2px solid $button-background;
        color: white;
        font-size: 2rem;
        padding: .5rem;
        font-weight: 600;
        height: 4rem;
        width: 4rem;
        margin: 0;

        &:focus {
            border-color: white;
            outline: none;
        }
    }

}