$button-background: #666;

.keypad {
    display: grid;
    grid-template-columns: 6em 6em 6em;
    grid-template-rows: 6em 6em 6em;


    &__btn {
        background-color: $button-background;
        border-radius: 100%;
        border: 2px solid $button-background;
        color: white;
        font-size: 2em;
        font-weight: 600;
        height: 2.5em;
        width: 2.5em;

        &:focus {
            border-color: white;
            outline: none;
        }
    }

}