@import './nav-list';
@import './layout';
@import './keypad';


:root {
    --screen-background-colour: black;
}

html {
    font-size: 20px;
    height: 100%;
    background-color: var(--screen-background-colour);
    color: white;
    font-family: -apple-system, sans-serif;
    transition: background-color 0.2s ease;
}

a {
    color: white;
}

.pin {
    min-height: 1.2em;
}
