extends layout.pug

block content

  div(aria-live="polite" class="mode")
    p(data-show-when="ready") Enter pin
    p(data-show-when="barred" hidden) Locked!
    p(data-show-when="waiting" hidden) Hold on&hellip;
    p(data-show-when="open" hidden) Open!

  div(class="pin" aria-live="polite")

  include ./includes/keypad.pug